@import url("https://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Slabo+27px");
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif; }

.nav {
  padding: 20px 70px 20px 20px; }
  .nav a {
    text-decoration: none;
    color: #cecece;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .nav a:hover {
      color: white !important; }

.main-container {
  width: 100%;
  height: 100vh;
  background: url(pexels-photo-1048032.jpeg) center/cover no-repeat;
  position: relative; }

.main-title {
  color: #d1d1d1;
  font-family: 'Poiret One', cursive;
  position: absolute;
  top: 28%;
  right: 26%; }
  .main-title h1 {
    font-size: 5rem;
    position: relative;
    left: -6px; }
  .main-title p {
    font-size: 1rem;
    position: relative;
    top: -10px;
    letter-spacing: 3px;
    text-transform: uppercase; }

.go-down {
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.second {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 5%; }
  .second > p {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 5rem; }
  .second .price {
    float: right;
    margin: 0; }

#about {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: #ecff83; }
  #about h2 {
    font-size: 5rem;
    margin-bottom: 50px;
    font-family: 'Poiret One', cursive; }
  #about p:first-child {
    font-weight: 700;
    font-size: 1.2rem; }

#events {
  width: 90vw;
  margin: 0 auto; }
  #events h2 {
    font-size: 5rem;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Poiret One', cursive; }

#contact {
  width: 90vw;
  margin: 0 auto; }
  #contact h2 {
    font-size: 5rem;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Poiret One', cursive; }
  #contact .contact-left {
    background-color: #cccccc;
    padding: 5% 5% 5% 10%;
    min-height: 300px; }
  #contact .contact-right {
    padding-top: 2%;
    padding-left: 5%;
    background-color: #90c1c7;
    min-height: 300px; }
  #contact p:first-child {
    font-weight: 700;
    font-size: 1.2rem; }
  #contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #contact form input[type="email"] {
      border: none;
      width: 80%;
      padding-top: 2px;
      padding-left: 5px;
      outline: none;
      -webkit-box-shadow: -2px 4px 12px rgba(185, 185, 185, 0.84);
      box-shadow: -2px 4px 12px rgba(185, 185, 185, 0.84); }
      #contact form input[type="email"]::-webkit-input-placeholder {
        color: rgba(98, 98, 98, 0.8); }
      #contact form input[type="email"]:-ms-input-placeholder {
        color: rgba(98, 98, 98, 0.8); }
      #contact form input[type="email"]::-ms-input-placeholder {
        color: rgba(98, 98, 98, 0.8); }
      #contact form input[type="email"]::placeholder {
        color: rgba(98, 98, 98, 0.8); }
    #contact form textarea {
      overflow: auto;
      resize: vertical;
      margin-top: 15px;
      outline: none;
      width: 80%;
      height: 120px;
      border: none;
      padding-top: 2px;
      padding-left: 5px;
      -webkit-box-shadow: -2px 4px 12px rgba(185, 185, 185, 0.84);
      box-shadow: -2px 4px 12px rgba(185, 185, 185, 0.84); }
      #contact form textarea::-webkit-input-placeholder {
        color: rgba(98, 98, 98, 0.8); }
      #contact form textarea:-ms-input-placeholder {
        color: rgba(98, 98, 98, 0.8); }
      #contact form textarea::-ms-input-placeholder {
        color: rgba(98, 98, 98, 0.8); }
      #contact form textarea::placeholder {
        color: rgba(98, 98, 98, 0.8); }

footer {
  text-align: center;
  color: grey;
  padding-top: 25px;
  padding-bottom: 25px; }

@media (max-width: 768px) {
  .main-title {
    top: 62%;
    right: 21%; }
  .nav {
    padding: 0;
    background-color: white;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
    .nav a {
      color: #3e3e3e; }
      .nav a:hover {
        color: #3e3e3e !important; }
  .second {
    padding-right: 2%;
    padding-left: 2%; }
  #about {
    padding-right: 2%;
    padding-left: 2%; }
    #about h2 {
      text-align: center; }
  #contact .contact-left {
    padding-top: 10%; }
  #contact .contact-right {
    padding-top: 10%;
    padding-left: 10%; } }
